body {
  background: #999999;
  padding-top: 70px;
}

.navbar-default .navbar-nav > li > a:hover {
  opacity: 0.8;
}

.navbar-default .navbar-nav > li:last-child > a {
  background-color: #cc0000;
  color: #fff;
}

.navbar-default {
  border-bottom: 1px solid #cc0000;
}

.main div div div:first-of-type {
  margin-top: -15px;
}

.main div div div {
  margin: -15px;
}

.main div div div:last-child {
  margin-bottom: 5px;
}

.category-holder h3 {
  background: #cc0000;
  color: #ffffff;
  padding: 1rem 1.5rem;
}

.category-icon {
  font-size: 2rem;
}

.section-title {
  background: #ffe6e6;
  border-left: 3px solid #cc0000;
  padding: 1rem 2rem;
  margin: 3px auto 0 auto;
  cursor: pointer;
}

.section-title:hover {
  background: #ff8080;
}

.section-title:active {
  opacity: 0.8;
}

.category-holder h5:first-of-type {
  margin-top: -7px;
}

.sidebar h3 {
  border-bottom: 2px solid #cc0000;
  margin-top: -4px;
  padding-bottom: 0.2em;
}