{% extends "base.html" %} {% block main %}
<div class="row">
  <div class="col-md-9">
    <div class="main panel panel-default">
      <div class="panel-body">
        <div class="container-fluid">
          <div class="category-holder">
            <h3 class="category-title"><span class="glyphicon glyphicon-book"></span> Acadêmico</h3>
            <h5 onclick="location.href='/section/adm';" class="section-title">Administração</h5>
            <h5 onclick="location.href='/section/eco';" class="section-title">Economia</h5>
            <h5 onclick="location.href='/section/eng';" class="section-title">Engenharia</h5>
            <h5 onclick="location.href='/section/outros1';" class="section-title">Outros</h5> </div>
          <div class="category-holder">
            <h3 class="category-title"><span class="glyphicon glyphicon-user"></span> Social</h3>
            <h5 onclick="location.href='/section/aep';" class="section-title">Achados e Perdidos</h5>
            <h5 onclick="location.href='/section/club';" class="section-title">Clubes</h5>
            <h5 onclick="location.href='/section/ent';" class="section-title">Entidades</h5>
            <h5 onclick="location.href='/section/outros2';" class="section-title">Outros</h5> </div>
          <div class="category-holder">
            <h3 class="category-title"><span class="glyphicon glyphicon-info-sign"></span> <a href="/section"> Outros</a></h3> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar col-md-3 hidden-sm hidden-xs">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Insper Links</h3>
        <ul class="list-group">
          <li class="list-group-item"> <a href="http://www.insper.edu.br/" target="_blank">Insper</a> </li>
          <li class="list-group-item"> <a href="http://portaldoaluno.insper.edu.br/" target="_blank">Portal do Aluno</a> </li>
          <li class="list-group-item"> <a href="http://insper.blackboard.com/" target="_blank">Insper Blackboard</a> </li>
        </ul>
      </div>
    </div>
    <!--  <div class="btn-group" role="group" aria-label="">
          <button onclick="location.href='/new_topic';" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-edit"></span> Novo tópico</button>
        </div> --></div>
</div>
<p class="text-center">&copy;
  <script type="text/javascript">
    document.write(new Date().getFullYear())
  </script>
</p> {% endblock %}